{$API_DOMAIN} {
	encode zstd gzip
	reverse_proxy api:3000
	header {
		Strict-Transport-Security "max-age=31536000; includeSubDomains"
		-Server
	}
	log {
		output file /data/access.log {
			roll_size 50mb
			roll_keep 5
		}
	}
}
